<div *ngIf="contentType === 'file-content'">
  <app-file-content></app-file-content>
</div>
<div *ngIf="contentType === 'folder-content'">
  <app-folder-content></app-folder-content>
</div>
<div *ngIf="contentType === 'google-content'">
  <app-google-content></app-google-content>
</div>
<div *ngIf="contentType === 'create-folder'">
  <app-create-folder></app-create-folder>
</div>
<div *ngIf="contentType === 'create-file'">
  <app-create-file></app-create-file>
</div>
<div *ngIf="contentType === 'create-project'">
  <app-create-project></app-create-project>
</div>