<div class="create-folder">
  <h1>Create a new folder</h1>

  <form [formGroup]="profileForm"
  (ngSubmit)="onSubmit()"
  [className]="classes.container"
>
  <ly-field appearance="filled" fullWidth>
    <input lyNativeControl
      type="text"
      placeholder="Name"
      formControlName="foldername"
    >
    <ly-hint>Hint</ly-hint>
    <ly-error *ngIf="formFoldername.hasError('minlength')">Min 5 characters</ly-error>
    <ly-error *ngIf="formFoldername.hasError('maxlength')">Max 16 characters</ly-error>
    <ly-error *ngIf="formFoldername.hasError('required')">Required</ly-error>
    <ly-hint [align]="'after'">{{ formFoldername.value?.length || 0 }}/32</ly-hint>
  </ly-field>
  <ly-field appearance="filled" fullWidth>
    <input [style.color]="formColor.value" lyNativeControl
      type="text"
      placeholder="Color #000000"
      formControlName="color"
    >
  </ly-field>
  <button ly-button
    bg="primary"
    raised
    type="submit"
    (click)="sb.open()"
  >Submit</button>
  </form>
</div>


<div class="create-folder">
  <ng-template id="snackbar" class="snackbar" ly-snack-bar
  #sb="lySnackBar"
  duration="Infinity"
>
  <span>Folder {{ isCreated ? '' : 'not' }} created</span>
  <button ly-button color="accent" (click)="sb.dismiss()">
    Dismiss
  </button>
</ng-template>
</div>
